doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(content="width=device-width", name="viewport")
    title Search Spotify

    link(rel="stylesheet", href="components/foundation/stylesheets/foundation.min.css", rel="stylesheet")
    link(rel="stylesheet", href="components/foundation/custom/foundation.min.css", rel="stylesheet")
    link(href="app/css/animate-custom.css", type="text/css", rel="stylesheet")
    link(href="app/css/app.css", type="text/css", rel="stylesheet")

    script(data-main="app/js/main_2.js", src='components/requirejs/require.js', type="text/javascript")
    <!-- script(data-main="app/js/build/main-build", src='components/requirejs/require.js', type="text/javascript") -->

  body
    .row
      div(class="twelve columns")
        section(class="step-one panel animated fadeInUp")
          h1.subheader Search Spotify
          p Search Spotify and find out in which countries you can listen to the tracks.
          div(class="search-form row collapse")
            div(class="nine mobile-three columns")
              input(type="text", class="search-form-input")
            div(class="three mobile-one columns")
              a(class="button expand postfix search-form-btn") Search
        section(class="row step-two")
          div(class="three columns")
            div(class="search-results animated visuallyhidden")
          div(class="three columns data-summary")
            div.data-summary-hover
            div.data-summary-data
            div.data-summary-countries-grid
          div(class="six columns visualization")
