$lightest: #5DC8CD
$lighter: #34C6CD
$default: #01939A
$darker: #1D7074
$darkest: #006064

body
  background: #fff url('../assets/texture-noise.png') repeat
  margin-top: 2em

h3
  text-transform: uppercase
  font-size: 14px
.visuallyhidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px
.drag-surface
  fill: rgba(255,255,255,0)
.row
  min-width: 0
.data-summary-hover
  height: 70px

ul li
  list-style: none

.search-result-item
  cursor: pointer
  padding: 5px 10px
  position: relative
  left: -10px
  border-radius: 5px
  margin: 2px 0
  &:hover
    background: rgba(#666, 0.5)
  &.selected
    background-color: #666
    background-image: -webkit-gradient( linear,left top,left bottom,color-stop(0,rgb(81,81,81)),color-stop(0.1,rgb(124,124,124)) )
    color: #f1f1f1
    text-shadow: 0 1px 0 #515151


.button
  background: $darker

  &:hover
    background: $default

.step-one
  max-width: 400px
  margin: 0 auto